<h1>Eat-Da-Burger!</h1>

<ul>
  {{#each burgers}}
  <li>
    <p>{{this.burger_name}}</p>
    <button data-burger_name="{{this.burger_name}}" class="devoured">Devour!</button>
  </li>
  {{/each}}
</ul>

<form class="create-form" action="/api/burgers" method="POST">

  <div class="form-group">
    <textarea id="bur" name="burger" rows="6" cols="40"></textarea>
  </div>

  <button type="submit">Submit</button>
</form>
<p>Enter a burger you want to eat and click the Submit button.</p>