body {
  text-align: center;
  background-color: lightblue;
}

p {
  background-color: white;
  width: 150px;
  height: 75px;
}

.column{
  padding: 5px;
  width: 50%;
  float: left;
}

img {
  width: 100px;
  height: 100px;
  align-content: center;
}